<h4>Detalhe do Pedido</h4>

<h5>Produto(s):</h5>
<ul class="collection">
  <li class="collection-item" *ngFor="let produto of produtos">
    {{produto.nome}} - {{produto.preco  | currency: 'BRL': true}}
  </li>
</ul>

<h5>Cliente:</h5>
<div class="row">
  <div class="col s6"><b>Preço</b></div>
  <div class="col s6">{{cliente?.preco  | currency: 'BRL': true}}</div>
</div>
<div class="row">
  <div class="col s6"><b>Data de criação</b></div>
  <div class="col s6">{{cliente?.criado}}</div>
</div>
<div class="row">
  <div class="col s6"><b>CNPJ para envio</b></div>
  <div class="col s6">{{cliente?.cnpj}}</div>
</div>
<div class="row">
  <div class="col s6"><b>Estado para envio</b></div>
  <div class="col s6">{{cliente?.estado}}</div>
</div>
<div class="row">
  <div class="col s6"><b>Telefone para envio</b></div>
  <div class="col s6">{{cliente?.telefone}}</div>
</div>
<div class="row">
  <div class="col s6"><b>CEP para envio</b></div>
  <div class="col s6">{{cliente?.cep}}</div>
</div>
<div class="row">
  <div class="col s6"><b>Endereço para envio</b></div>
  <div class="col s6">{{cliente?.endereco}}</div>
</div>
<div class="row">
  <div class="col s6"><b>País de envio</b></div>
  <div class="col s6">{{cliente?.pais}}</div>
</div>

<h5>Histórico:</h5>
<ul class="collection">
  <li class="collection-item" *ngFor="let historico of historicos">
    {{historico.atualizado}} - {{historico.descricao}}
  </li>
</ul>